body {
    display: flex;
    justify-content: center;
}

div, .calculator {
    border: 2px solid black
}

.calculator {
    display: flex;
    height: 500px;
    width: 400px;
    flex-flow: row wrap;
}

.display {
    width: 400px;
    height: 200px;
}

.numbers {
    height: 296px;
    width: 267px
}

.operators {
    height: 296px;
    flex-grow: 1;
}